h1
{
    font-size: 50px;
    font-family: sans;
    font-weight: 20;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.index-body{
    background-image: url(./assets/images/index-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.album-body{
    background-image: url(./assets/images/album-background.png);
    background-attachment: fixed;
}
.shop-body{
    background-image: url(./assets/images/shop-background.png);
    background-attachment: fixed;
}
.congratulations-body{
    background-image: url(./assets/images/congratulations-background.jpg);
    background-attachment: fixed;
}
body
{
    /* background-color:rgb(133, 66, 221); */
    /* background-image: url(./assets/images/index-background.png);   */
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-position: center; */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    size: 24px;
    font-weight: 500;
    line-height-step: 120%;
}
cite{
    font-weight: 100;
    -webkit-text-stroke-width:0px;
    -webkit-text-stroke-color: black;
    font-size: 18   px;
}
.login-screen
{
    font-family: Roboto;
    font-size: 20px;
    width: 15%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 50px 200px 50px 200px;
    background-color:rgb(47, 218, 127);
    text-align: center;
    line-height: 2;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
.input
{
    height: 30px;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    font-family: Roboto;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
.input:hover
{
    background-color:blue;
}
.input:focus
{
    background-color: blue;
    color:white;
}
.submit
{
    font-family: Roboto;
    font-size: 18px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid blue;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
.submit:hover
{
    background-color: blue;
    color: rgb(174, 226, 176);
}
.hint
{
    font-family: Roboto;
    font-size: 18px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(41, 41, 255);
    border: 2px solid rgb(41, 41, 255);
    position:static 200 200;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
.hint:hover
{
    background-color: rgb(0, 0, 255);
    color: transparent;
}
.post-heading
{
    font-size: 3em;
    font-family: Roboto;
    font-weight: bold;
    color:whitesmoke;
    text-align: center;
}
.post-author
{
    font-size: 1em;
    font-family: Roboto;
    color:whitesmoke;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.blog-image
{
    text-align: center;
}
.post-content
{
    font-size: 30px;
    font-family: Arial;
    overflow: auto;
    color: white;
    padding: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
body
{
    font-size: 30px;
    font-family: Roboto;
    overflow: auto;
    color: white;
    padding: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
hr
{
    width: 50%;
}
img:hover{
    box-shadow: 2px 2px 10px black;
}